[submodule "jupyter/nbextensions/vim_binding"]
	path = jupyter/nbextensions/vim_binding
	url = https://github.com/lambdalisue/jupyter-vim-binding
[submodule "marker"]
	path = marker
	url = https://github.com/pindexis/marker
[submodule "mintty/mintty-colors-solarized"]
	path = mintty/mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized
[submodule "vendor/z"]
	path = vendor/z
	url = https://github.com/rupa/z
[submodule "vendor/marker"]
	path = vendor/marker
	url = https://github.com/pindexis/marker
